* {
    animation: fade-in 1s;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
}

body{
    background: rgb(103,0,0);
    background: linear-gradient(90deg, rgba(103,0,0,1) 15%, rgba(0,28,85,1) 100%);
}

.card{
    border-radius: 35px ;
}

.btn{
    border-radius: 35px;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}